@import 'normalize.css';

@import './vars.pcss';
@import './layout.pcss';
@import './carbon.pcss';
@import './components/header.pcss';
@import './components/writing.pcss';
@import './components/copy-button.pcss';
@import './components/page.pcss';
@import './components/greeting.pcss';
@import './components/auth.pcss';
@import './components/error.pcss';
@import './components/button.pcss';
@import './components/theme-toggle.pcss';
@import './components/sidebar.pcss';
@import './components/navigator.pcss';
@import './components/table-of-content.pcss';

body {
  font-family: system-ui, Helvetica, Arial, Verdana;
  color: var(--color-text-main);
  background-color: var(--color-bg-primary);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transition: background-color 0.3s ease, color 0.3s ease;
}

svg {
  fill: currentColor;
}

a {
  text-decoration: none;
  color: inherit
}
